* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: url(https://images6.alphacoders.com/132/thumb-1920-1320340.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-right: 25px;
    font-size: 1.5rem;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
    display: flex;
}
.menu {
    background-color: white;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.logo {
    width: 60px;
    margin-left: 30px;
}

@media screen and (max-width:599px) {
    .menu {
        visibility: hidden;
    }
    
}

td,
th {
    padding: .7em;
    margin: 0; 
    border: 1px solid #ccc;
    text-align: center;
}

/*Cor de fundo do cabeçalho da tabela*/

th {
    background-color: #EEE;
}

/* Fonte e cor de fundo das células do corpo da tabela*/

td {
    font-weight: bold;
    background-color: red;
}

/*estilização geral da tabela*/

.tab {
    width: 100%;
    margin-bottom: .5em;
    table-layout: fixed;

}
